* {
    box-sizing: border-box;
  }
  
  html {
    margin: auto;
    width: 482px;
    border: solid red 1px;
  }
  
  @media (min-width:768px) {
    
    html {
      margin: auto;
      width: 962px;
      border: solid red 1px;
    }
  
  }