body {
    height: 100%
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: 240px 240px;
    grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
    text-align: center;
}

header {
    grid-column-start: 1;
    grid-column-end: span 2;
}

aside {
    grid-column-start: span 2;
    grid-row-end: span 1;
}

.two {
    grid-column-start: span 2;
    grid-row-end: span 1;
}

.four {
    grid-column-start: span 1;
    grid-row-end: span 1;
}

footer {
    grid-column-start: span 2;
    grid-row-end: span 1;
}

 
  
  @media (min-width:768px) {
    
    body {
        height: 100%;
    }

    main {
        height: 100%;
        display: grid;
        grid-template-columns: 200px 190px 190px 190px 190px;
        grid-template-rows: 100px 200px 250px 150px;
    }

    header {
        grid-column-start: 1;
        grid-column-end: span 5;
    }

    aside {
        grid-column-start: 1;
        grid-row-end: span 3;
    }
  
    .two {
        grid-column-start: span 2;
        grid-row-end: span 1;
    }
  
    .four {
        grid-column-start: span 1;
        grid-row-end: span 1;
    }

    footer {
        grid-column-start: span 4;
        grid-row-end: span 1;
    }
  }