header {
    background-color: grey;
    border: 1px solid black;
}

aside {
    background-color: burlywood;
    border: 1px solid black;
}

.two {
    background-color: cadetblue;
    border: 1px solid black;
}

.four {
    background-color: cornflowerblue;
    border: 1px solid black;
}

footer {
    background-color: darkgrey;
    border: 1px solid black;
}